:root {
	--modal-duration: 1s;
	--primary-color: #30336b;
	--secondary-color: #be2edd;
	--text-color: #fff;
	--link-color: #fff;
	--nav-width: 350px;
	--nav-height: 100vh;
	--nav-border: rgba(200, 200, 200, 0.1);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

body.show-nav {
	/* width of nav */
	transform: translateX(var(--nav-width));
	margin: 0;
	transition: transform 0.5s ease;
}

nav {
	background-color: var(--primary-color);
	border-right: 2px solid var(--nav-border);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: var(--nav-width);
	height: var(--nav-height);
	z-index: 100;
	transform: translateX(-100%);
	transition: all 0.5s ease-in-out;
}

nav .logo {
	--nav_logo__padding: 30px 0;
	padding: var(--nav_logo__padding);
	text-align: center;
}

nav .logo img {
	--nav_logo_img__height: 120px;
	--nav_logo_img__width: 120px;
	--nav_logo_img__border-radius: 50%;
	height: var(--nav_logo_img__height);
	width: var(--nav_logo_img__width);
	border-radius: var(--nav_logo_img__border-radius);
}

nav ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

nav ul li {
	border-bottom: 2px solid var(--nav-border);
	padding: 15px;
	transition: all 0.5s ease-in-out;
}

nav ul li:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}

nav ul li:first-of-type {
	border-top: 2px solid var(--nav-border);
}

nav ul li a {
	--nav-link__padding: 0.55rem;
	display: block;
	padding: var(--nav-link__padding);
	color: var(--link-color);
	text-decoration: none;
	/* background-color: yellow; */
}

header {
	background-color: var(--primary-color);
	color: var(--text-color);
	font-size: 130%;
	padding: 40px 15px;
	text-align: center;
	position: relative;
}

header h1 {
	margin: 0;
}

header p {
	margin: 30px 0;
}

button,
input[type='submit'] {
	background-color: var(--secondary-color);
	color: var(--text-color);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px 12px;
}

.toggle {
	--toggle-btn__color: rgba(0, 0, 0, 0.3);
	background-color: var(--toggle-btn__color);
	position: absolute;
	top: 20px;
	left: 20px;
}

.cta-btn {
	padding: 12px 30px;
	font-size: 20px;
}

.container {
	padding: 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-container.show-modal {
	display: block;
}

.modal {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	width: 500px;
	animation-name: modalOpen;
	animation-duration: var(--modal-duration);
}

.modal-header {
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 15px;
}

.modal-header h3 {
	margin: 0;
	border-bottom: 1px solid #333;
}

.modal-content {
	padding: 20px;
}

.modal-form div {
	margin: 15px 0;
}

.modal-form label {
	display: block;
	margin-bottom: 5px;
}

.modal-form .form-input {
	padding: 8px;
	width: 100%;
}

.close-btn {
	background: transparent;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
}

@keyframes modalOpen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
